@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}


.carousel-inner {
    max-height: 25rem;
}

.carousel-item {
    text-align: center;
    height: 25rem; /* Mantén la altura fija según la altura máxima */
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: auto; /* Ajusta la anchura para mantener la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

@media (max-width:768px){
    #intro {
        width: 90% !important;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

@media(max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

.login-style {
    max-width: 800px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.959);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

    
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #333;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.register-style {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-link {
    cursor: pointer;
    text-decoration: none;
    color: #337ab7;
}

#register-link:hover {
    color: #23527c;
}

    



